# Connectivity
.env

# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# Optional: Build artifacts (if we add a build step later)
dist/
build/
